
body {
    font-family: sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
}
.click {
    padding: 10px 20px;
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 15px;
}
